@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap";
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: Montserrat, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

button {
  cursor: pointer;
}

.CTA-button {
  color: #fff;
  background-color: #d5bdaf;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  display: block;
}

a {
  text-decoration: none;
}

.error-message {
  color: red;
  font-size: 15px;
  font-weight: 600;
}

dialog {
  margin: auto;
  padding: 10px;
  font-weight: 600;
}

dialog label, dialog input, dialog select {
  border: 1px solid #d5bdaf;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

dialog label {
  border: none;
}

label, input, select {
  border: 1px solid #d5bdaf;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

label {
  border: none;
}

.header-container {
  background-color: #d5bdaf;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8vh;
  padding: 0 2rem;
  display: flex;
  position: sticky;
}

.header-container a {
  color: #fff;
  font-size: small;
  text-decoration: none;
}

.header-container form input {
  border: none;
  border-radius: 5px;
  outline: none;
  height: 30px;
  padding-left: 10px;
  font-size: medium;
}

.home-container {
  display: flex;
}

.employee-content-card {
  border: 2px solid #e3d5ca;
  border-radius: 5px;
  width: 300px;
  height: max-content;
  min-height: 300px;
  margin: auto;
  padding: 10px;
}

.employee-content-card p {
  justify-content: space-between;
  margin: 20px auto;
  display: flex;
}

.employee-content-card .employee-action-buttons {
  flex-direction: column;
  gap: 10px;
  display: flex;
}

.employee-content-card .cancel-button {
  width: 100%;
}

.employee-cards-container {
  flex-wrap: wrap;
  display: flex;
}

.employee-cards-container .employee-content-card {
  margin: 20px;
}

.team-header {
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 0 20px;
  display: flex;
}

.team-header .team-name {
  justify-content: space-between;
  width: 200px;
  display: flex;
}

.team-header dialog button {
  margin: 10px 0;
}

.team-header dialog .add-member-cancel-button {
  width: 100%;
}

.department-heading {
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  display: flex;
}

.addteam-container {
  border: 2px solid #e3d5ca;
  width: 80%;
  margin: 50px auto;
  padding: 20px;
}

.addteam-container form {
  flex-direction: column;
  display: flex;
}

.addteam-container form p, .addteam-container form label[for="teamName"] {
  margin: 5px;
  font-size: 25px;
  font-weight: 500;
}

.addteam-container form .create-team-button {
  width: 20%;
  margin-top: 15px;
}

.sidebar-container {
  border: 2px solid #d5bdaf;
  width: 300px;
  height: 92vh;
}

.sidebar-container .dropbutton-heading {
  cursor: pointer;
  align-items: center;
  height: 30px;
  display: flex;
}

.sidebar-container .dropbutton-heading button {
  cursor: pointer;
  background-color: #0000;
  border: none;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.sidebar-container .dropbutton-heading button img {
  height: 100%;
  transition: transform .1s;
}

.sidebar-container .dropbutton-heading:hover {
  background-color: #edddd4d1;
}

.sidebar-container .dropdown-button-active button img {
  transform: rotate(0) !important;
}

.sidebar-container .dropdown-closed {
  height: 0;
  overflow: hidden;
}

.sidebar-container .team-employees {
  margin-left: 35px;
}

.sidebar-container .team-employees .team-leader, .sidebar-container .team-employees .team-member {
  cursor: pointer;
}

.sidebar-container .sidebar-team-leader, .sidebar-container .sidebar-team-member {
  align-items: center;
  height: 30px;
  display: flex;
}

.sidebar-container .sidebar-team-leader:hover, .sidebar-container .sidebar-team-member:hover {
  cursor: pointer;
  background-color: #edddd4d1;
}

.dropdown-margin-left {
  margin-left: 25px;
}

.homepage-container {
  justify-content: center;
  width: calc(100% - 300px);
  height: 92vh;
  display: flex;
}

.homepage-container .homepage-content-box {
  border: 2px solid #d5bdaf;
  border-radius: 5px;
  width: 90%;
  height: 90%;
  margin: auto;
  padding: 20px;
  overflow: auto;
}

/*# sourceMappingURL=index.ac93e151.css.map */
